// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// REACT
import React, { useState, memo } from 'react'
import { func, shape } from 'prop-types'
import { Trans, translate } from 'react-i18next'<% if (isRouter) { %>
import HashRouter, { Route } from 'react-redux-hash-router'<% }if (useJss) {%>
import { withStyles } from '@material-ui/core'<% }%>

<% if (hasRedux) {%>// REDUX
import { useSelector, useDispatch } from 'react-redux'<% }%>

// LIBS
import cn from 'classnames'

// STYLE<% if (useScss) {
%>
import s from './style.scss'<% }%><% if (useJss) { %>
import styles from  './style.js'<% }%>

function <%=componentName%>({<% if (useJss) {%>
  classes,<% }%>
  t
}){
  return (<% if (isRouter) { %>
    <HashRouter
      routerStatePath="routing.<%=routerName%>Router"
      loaderComponent={<div>Loading...</div>}
    >{}
    </HashRouter><% } else { %>
    <div>
      <%=componentName%>
    </div><% }%>
  )
}

<%=componentName%>.propTypes = {<% if (useJss) {%>
  classes: shape({}),<% }%>
  t: func
}

<%=componentName%>.defaultProps = {<% if (useJss) {%>
  classes: null,<% }%>
  t: () => null
}

<% if (useJss) {%>export default withStyles(styles)(translate()(memo(<%=componentName%>)))<% } else {%>export default translate()(memo(<%=componentName%>)))<% } %>
